{% extends './main/index.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

<body>

    {% block content %}
    <div class="container">
        <h3>Update Password</h3>
        <form action="/auth/user/change_password" method="POST" >
        
            <div class="form-group">
                <label for="current_password">Current Password</label>
                <input type="password" id="current_password" name="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_new_password">Confirm New Password</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    

    <footer><small>© 2023 Octamedic</small></footer>
    {% endblock %}
    {% block script %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
  var form = document.querySelector('form');
  var currentPasswordInput = document.getElementById('current_password');
  var newPasswordInput = document.getElementById('new_password');
  var confirmNewPasswordInput = document.getElementById('confirm_new_password');
  var submitButton = document.querySelector('button[type="submit"]');

  function validatePassword() {
    var currentPassword = currentPasswordInput.value;
    var newPassword = newPasswordInput.value;
    var confirmNewPassword = confirmNewPasswordInput.value;

    if (newPassword !== confirmNewPassword) {
      confirmNewPasswordInput.setCustomValidity('Passwords do not match');
    } else {
      confirmNewPasswordInput.setCustomValidity('');
    }

    if (newPassword.length < 6) {
      newPasswordInput.setCustomValidity('Password must be at least 6 characters long');
    } else {
      newPasswordInput.setCustomValidity('');
    }
  }

  currentPasswordInput.addEventListener('input', validatePassword);
  newPasswordInput.addEventListener('input', validatePassword);
  confirmNewPasswordInput.addEventListener('input', validatePassword);

  form.addEventListener('submit', function(event) {
    validatePassword();

    if (!form.checkValidity()) {
      event.preventDefault();
    }
  });
});
    </script>
    {% endblock %}
</body>
