{% extends './main/index.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

<body>

    {% block content %}
    <div class="container">
        <h3>Forgotten Password</h3>
        <form action="/auth/user/forgot_password/" method="POST" >
        
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <h6>Note: Email must have been verified</h6>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <footer><small>© 2023 Octamedic</small></footer>
    {% endblock %}
    {% block script %}
    {{ super() }}
    {% endblock %}
</body>
