{% extends './main/index.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

<body>
    {% block content %}
    <div class="container">
        <h3>MediBlitz Login</h3>
        <form action="/auth/login" method="POST" >
        
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <small><a>Forgotten Password? <a href="{{ url_for('auth.forgotten_password') }}"> Click here</a></small>

            </div>
            <button type="submit">Login</button>
        </form>
        <small><a>Don't have an Account? <a href="{{ url_for('auth.register') }}"> Click here</a></small>
    </div>
    
    

    <footer><small>© 2023 Octamedic</small></footer>
    {% endblock %}
</body>
