body {
    display: flex;
    place-items: center;
    font-size: large;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: large;
}


.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#startBtnContainer, #questionContainer {
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 70%;
    max-width: 92%;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #0963e0;
    border-bottom: 2px solid #0963e0;
}
#startBtn, #nextBtn, #submitBtn {
    background-color: #4782d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: medium;
    
}

#quizForm {
    width: 100%;
    display: grid;
    place-items: center;
    
}

#nextBtn, #submitBtn{
    transform: translateY(-100%);
    margin-top: 20px;
    font-size: 16px;
    background-color: #4070F4;;
}

#startBtn:hover, #nextBtn:hover, #submitBtn:hover {
    background-color: #3666a9;
}

.question {
    margin-bottom: 20px;

}

.question-no {
    margin-top: 10px;
}


.question-question {
    border-bottom: 2px solid #0963e0;
    background-color: beige;
    margin-top: 10px;
    padding: 10px;
    color: black;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.timer {
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(238, 53, 40);
    border-top: 2px solid rgb(238, 53, 40);
    display: inline;
    background-color: rgb(192, 207, 240);
    padding: 5px;
    border-radius: 7px;
    font-size: medium;
    color: black;
}

ul {
    list-style-type: none;
}

.li-des {
    list-style-type: circle;
}


input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
    margin-top: 20px;
    
}


input[type="radio"]:checked + label {
    background-color: #e0e0e0;
    font-weight: bold;
    background-color: #9cc2f8;
    border-radius: 6px;
}
label {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}