body {
   
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dbdada;
    border-radius: 3px;
    color: black;
}

.question p {
    margin: 0;
}

.correct-answer {
    color: green;
}

.picked-answer {
    color: red;
}


.tick {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.cross {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.analysis {
    display: none;
}

.mytick{
    position: relative;
    width: 3.5%;
    margin-right: 7px;
    transform: translateY(20%);
}



.show-analysis  {
	background-color: #4070F4;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	display: inline;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 30%);
}

.show-analysis:hover {
	background-color: #3059C9;
}