body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333;
    text-align: center;
}

.question {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.question p {
    margin: 0;
}

.correct-answer {
    color: green;
}

.picked-answer {
    color: red;
}


.tick {
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.cross {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

.analysis {
    display: none;
}

.mytick{
    position: relative;
    width: 3.5%;
    margin-right: 7px;
    transform: translateY(20%);
}

.gg-check {
    box-sizing: border-box;
    
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-check::after {
    content: "";
    display: inline;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}


.show-analysis  {
	background-color: #4070F4;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	display: inline;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 30%);
}

.show-analysis:hover {
	background-color: #3059C9;
}