{% extends 'main/index.html' %}
    {% block css %}
    {{ super() }}
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='responsive.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='colors.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='garden.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<body>
  
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/tether.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/custom.js')}}"></script>

    <div id="wrapper">
        <div class="collapse top-search" id="collapseExample">
            <div class="card card-block">
                <div class="newsletter-widget text-center">
                    <form class="form-inline">
                        <input type="text" class="form-control" placeholder="What you are looking for?">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- end newsletter -->
            </div>
        </div><!-- end top-search -->
        <div class="topbar-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div><!-- end social -->
                    </div><!-- end col -->

                    <div class="col-lg-4 hidden-md-down">
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                        </div><!-- end search -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->

        <section class="section first-section">
            <div class="container-fluid">
                
                <div style="margin-left: 5%;"class="masonry-blog clearfix">
                    

                    {% for post in selected_posts[:3] %}
                    
                    <div style="width: 400px; height: 400px;" class="right-side hidden-md-down">
                        
                        <div class="masonry-box post-media">
                            {% if post.image_path %}
                            <img src="{{ url_for('static', filename='user_images/' + post.image_path) }}" alt="{{post.image_path}}" class="img-fluid img-fluid-row">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/planebg.jpg') }}" alt="" class="img-fluid img-fluid-row">
                            {% endif %}                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-aqua"><a href="blog-category-01.html" title="">{{post.category}}</a></span>
                                        
                                        <h4><a href="{{ url_for('main.blog_id', id=post.id|string)}}" title="">{{ post.headline }}</a></h4>
                                        <small><a href="garden-single.html" title="">{{ post.blog_timestamp() }}</a></small>
                                        <small><a href="#" title="">{{ post.author.first_name }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end right-side -->
                    {% endfor %}
                </div><!-- end masonry -->
                
            </div>
        </section>

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">

                                <!-- start here -->
                                {% for post in posts %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="garden-single.html" title="">
                                                {% if post.image_path %}
                                                <img src="{{ url_for('static', filename='user_images/'+post.image_path) }}" alt="{{post.image_path}}" class="img-fluid">
                                                {% else %}
                                                <img src="{{ url_for('static', filename='images/planebg.jpg') }}" alt="" class="img-fluid">
                                                {% endif %}
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->
                        
                                    <div class="blog-meta big-meta col-md-8">
                                        <span class="bg-aqua"><a href="garden-category.html" title="">{{post.category}}</a></span>
                                        <h4><a href="{{ url_for('main.blog_id', id=post.id|string)}}" title="">{{ post.headline }}</a></h4>

                                        <p>
                                            {% if post.body|length > 60 %}
                                                {{ post.body[:200] | safe}}... <a href="{{ url_for('main.blog_id', id=post.id|string)}}">Read More</a>
                                            {% else %}
                                                {{ post.body | safe}}
                                            {% endif %}
                                        </p>
                                        <small><a href="{{ url_for('main.blog_id', id=post.id|string)}}" title="">{{ post.blog_timestamp() }}</a></small>
                                        <small><a href="#" title="">by {{post.author.first_name}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                <hr class="invis">
                                {% endfor %}
                                <hr class="invis">

                                <hr class="invis"><hr class="invis">
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->
                        <ul class="pagination">
                            <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                                <a href="{% if pagination.has_prev %}{{ url_for('main.blog',
                                        page = pagination.page - 1) }}{% else %}{% endif %}">
                            &laquo;
                            </a>
                            </li>
                            {% for p in pagination.iter_pages() %}
                                {% if p %}
                                    {% if p == pagination.page %}
                                        <li class="active">
                                            <a href="{{ url_for('main.blog', page = p) }}">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ url_for('main.blog', page = p) }}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="disabled"><a href="#">&hellip;</a></li>
                                {% endif %}
                            {% endfor %}
                            <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                            <a href="{% if pagination.has_next %}{{ url_for('main.blog',
                            page = pagination.page + 1) }}{% else %}{% endif %}">
                            &raquo;
                            </a>
                            </li>
                        </ul>
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for post in posts[:5] %}
                                        <a href="{{ url_for('main.blog_id', id=post.id|string)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                {% if post.image_path %}
                                                <img src="{{ url_for('static', filename='user_images/'+post.image_path) }}" alt="{{post.image_path}}" class="img-fluid">
                                                {% else %}
                                                <img src="{{ url_for('static', filename='images/planebg.jpg') }}" alt="" class="img-fluid">
                                                {% endif %}
                                                <h5 class="mb-1">{{ post.headline }}</h5>
                                                <small>{{ post.blog_timestamp() }}</small>
                                            </div>
                                        </a>
                                        {% endfor %}

                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            
                            <div class="widget">
                                <h2 class="widget-title">Advertising</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{{ url_for('static', filename='images/banner_04.jpg') }}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                        <li><a href="#">Medicine <span>(5)</span></a></li>
                                        <li><a href="#">Technolgoy <span>(6)</span></a></li>
                                        <li><a href="#">Data science <span>(2)</span></a></li>
                                        <li><a href="#">Machine Learning<span>(1)</span></a></li>
                                        <li><a href="#">Health Talks <span>(6)</span></a></li>
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <p>Octamedic is a dedicated platform showcasing curated content on medical advancements, healthcare practices, and insights from experts in the field.</p>
                               

                                <hr class="invis">

                                <div class="newsletter-widget text-center">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                
            </div><!-- end container -->
        </footer><!-- end footer -->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.create_blog')}}"><div class="dmtop">Write Article <i class="fa fa-pencil pencil" style="font-size:30px;color:rgb(50, 50, 241)"></i></div></a>
        {% endif %}
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>

</body>
{% endblock %}
