{% extends 'main/index.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='user_page.css') }}">
<style>
    .blog-container {
  max-width: 800px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  background-color: transparent;
}

.blog-header {
  margin-bottom: 20px;
}

.blog-title {
  font-size: 28px;
  margin: 0;
}

.image-container {
  margin-bottom: 20px;
  text-align: center;
}

.blog-image {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.blog-content {
  font-size: medium;
  line-height: 2;
  padding: 20px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: small;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  justify-self: right;
  border-radius: 5px;
  padding: 5px;
  font-size: small;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.but-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comment {
        background-color: #f5f5f5;
        padding: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .comment .author {
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .comment .timestamp {
        font-size: 12px;
        color: #888;
    }
    
    .comment .content {
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block content %}
  <div class="blog-container">
    <div class="blog-header">
      <h1 class="blog-title">{{ post.headline | safe}}</h1>
    </div>
    <div class="image-container">
      <img src="{{ url_for('static', filename='user_images/' + post.image_path) }}" alt="{{ post.image_path }}" class="blog-image">
    </div>
    <div class="blog-content">
      {{ post.body | safe }}
    </div>
    {% if current_user.is_authenticated %}
    <form method="POST" action="{{ url_for('main.blog_id', id=post.id) }}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.body.label }}
        {{ form.body(class="form-control", placeholder='Write in a comment ...') }}
        <div class="but-div">
          {{ form.submit(class="btn btn-primary", value="Post Comment") }}
        </div>
      </div>
      
    </form>
    {% endif %}
    <h3>Comments</h3>
    <div class="comment-section">
      {% for comment in comments %}
      <div class="comment">
          <div class="author">{{ comment.author }}</div>
          <div class="timestamp">{{ comment.timestamp }}</div>
          <div class="content">{{ comment.body }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}