{% extends 'main/index.html' %}
    {% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    {% endblock %}    

<body>
    {% block content %}
    <h1 style="text-transform: capitalize;">{{ quiz }} Quiz </h1>

    {% if questions %}
        <div id="startBtnContainer">
            <h3>Instructions:</h3>
            <p><ul class="li-des" >
                <li>Read each question carefully and select the correct answer</li> 
                <li>Each question will be displayed for <strong> 20 seconds</strong></li>
                </ul>
                <br> Click the "Start" button when you're ready to begin.
            </p>
            <button id="startBtn" onclick="startQuiz();">Start</button>
        </div>
    <form id="quizForm" method="post" action="{{ url_for('main.result', email=email) }}" onsubmit="submitForm()">
        <div id="questionContainer" style="display: none;">
            <div class="timer" id="timer"></div>

            {% for question in questions %}
                <div class="question no-select" style="display: none;">
                    <h3 class="question-no">Question {{ loop.index }}:</h3>
                    <p class="question-question">{{ question.question_text }}</p>
                    <ul>
                        <input type="hidden" name="question_id" value="{{ question.question_id }}">
                        <li>
                            <input type="radio" id="answer_{{ question.question_id }}_A" name="answer_{{ question.question_id }}" value="A">
                            <label for="answer_{{ question.question_id }}_A">{{ question.option_A }}</label>
                        </li>
                        <li>
                            <input type="radio" id="answer_{{ question.question_id }}_B" name="answer_{{ question.question_id }}" value="B">
                            <label for="answer_{{ question.question_id }}_B">{{ question.option_B }}</label>
                        </li>
                        <li>
                            <input type="radio" id="answer_{{ question.question_id }}_C" name="answer_{{ question.question_id }}" value="C">
                            <label for="answer_{{ question.question_id }}_C">{{ question.option_C }}</label>
                        </li>
                        <li>
                            <input type="radio" id="answer_{{ question.question_id }}_D" name="answer_{{ question.question_id }}" value="D">
                            <label for="answer_{{ question.question_id }}_D">{{ question.option_D }}</label>
                        </li>
                    </ul>
                </div>
            {% endfor %}

            <button type="button" id="nextBtn" onclick="nextQuestion();">Next</button>
            <button type="button" id="submitBtn" onclick="submitForm();" style="display: none;">Submit</button>
        </div>
    </form>
    {% endif %}
    {% endblock %}
    {% block script %}
    {{ super() }}
    <script>
        var timeLeft = 20; // Time in seconds
        var timerId;
        var questionIndex = 0; // Index of the current question
    
        function startQuiz() {
            document.getElementById('startBtn').style.display = 'none'; // Hide the start button
            document.getElementById('startBtnContainer').style.display = 'none'; // Hide the instruction page
            document.getElementById('questionContainer').style.display = 'block'; // Show the question container
            displayQuestion(); // Display the first question
            startTimer(); // Start the timer
        }
    
        function startTimer() {
            timerId = setInterval(countdown, 1000);
        }
    
        function countdown() {
            if (timeLeft === 0) {
                clearInterval(timerId);
                if (questionIndex === 19 ) {
                    submitForm(); // Trigger the form submission if it's the last question
                } else {
                    nextQuestion(); // Move to the next question when the time runs out
                }
            } else {
                document.getElementById("timer").textContent = "Time Left: " + timeLeft + "s";
                timeLeft--;
            }
        }
    
        function displayQuestion() {
            var questions = document.getElementsByClassName("question");
            for (var i = 0; i < questions.length; i++) {
                questions[i].style.display = "none"; // Hide all questions
            }
            questions[questionIndex].style.display = "block"; // Show the current question
        }
    
        function nextQuestion() {
            clearInterval(timerId); // Stop the timer
            questionIndex++; // Move to the next question
            if (questionIndex < {{ questions|length }} ) {
                timeLeft = 20; // Reset the timer for the next question
                displayQuestion(); // Display the next question
                startTimer(); // Start the timer
            } else {
                showSubmitButton(); // Show the submit button if all questions have been answered
            }
        }
    
        
        function showSubmitButton() {
            document.getElementById("nextBtn").style.display = "none"; // Hide the next button
            document.getElementById("submitBtn").style.display = "block"; // Show the submit button
        }
    
        function submitForm() {
            clearInterval(timerId); // Stop the timer
            // Replace the current URL with the user dashboard page URL
            var dashboardUrl = "{{ url_for('main.user') }}";
            window.location.replace(dashboardUrl);
            // Submit the form
            document.getElementById("quizForm").submit();
        } 
    
        window.addEventListener("DOMContentLoaded", function() {
            // Get all the question elements
            var questionElements = document.querySelectorAll(".question");
    
            // Loop through each question element and disable text selection and context menu
            questionElements.forEach(function(questionElement) {
                questionElement.classList.add("no-select");
                questionElement.addEventListener("contextmenu", function(event) {
                    event.preventDefault();
                });
            });
        });
        
    </script>
    
    {% endblock %}
</body>


