{% extends 'main/index.html' %}
{% block css %}
{{ super() }}
<style>/* Basic styling for the user home page layout */
  
  
  header {
      background-color: #333;
      padding: 5px;
  }
  
  .container {
      max-width: 960px;
      translate: 0 -5%;
      margin: auto;
      padding: 70px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('/static/images/user_pg_bkg.jpg');
  }
  
  
  h2 {
      font-size: 24px;
      margin-bottom: 10px;
  }

    #user-info-section {
    display: flex;
    justify-content: space-between;
    background-image:url('/static/images/background1.jpg');
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    color: #ffffff;
}

.hor-line {
  background-color: rgb(170, 203, 233);
  width: 0.5%;
}

.user-info {
    width: 40%; /* Adjust the width as needed */
}


.user-about-section {

    width: 50%; /* Adjust the width as needed */
}
  
  .quiz-card {
      display: flex;
      margin-bottom: 20px;
      background-color: #f1f1f1;
      border-radius: 5px;
  }
  
  .quiz-card img {
      width: 200px;
      height: 150px;
      object-fit: cover;
  }
  
  .quiz-info {
      padding: 20px;
  }
  
  .quiz-info h3 {
      margin-top: 0;
  }
  
  .quiz-info a {
      color: #333;
      text-decoration: none;
  }
  
  .quiz-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0016 {
font-family: 'Raleway', Arial, sans-serif;
color: #fff;
position: relative;
overflow: hidden;
margin: 10px;
min-width: 270px;
max-width: 310px;
height: 280px;
border-radius: 5px;

background: #000000;
text-align: left;
}
figure.snip0016 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
figure.snip0016 img {
max-width: 100%;
opacity: 1;
width: 100%;
-webkit-transition: opacity 0.35s;
transition: opacity 0.35s;
height: 100%;
border-radius: 5px;
}

figure.snip0016 figcaption {
position: absolute;
bottom: 0;
left: 0;
padding: 30px 3em;
width: 100%;
height: 100%;
}
figure.snip0016 figcaption::before {
position: absolute;
top: 30px;
right: 30px;
bottom: 30px;
left: 100%;
border-left: 4px solid rgba(255, 255, 255, 0.8);
content: '';
opacity: 0;
background-color: rgba(255, 255, 255, 0.5);
-webkit-transition: all 0.5s;
transition: all 0.5s;
-webkit-transition-delay: 0.6s;
transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
margin: 0 0 5px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 {
word-spacing: -0.15em;
font-weight: 300;
text-transform: uppercase;
-webkit-transform: translate3d(30%, 0%, 0);
transform: translate3d(30%, 0%, 0);
-webkit-transition-delay: 0.3s;
transition-delay: 0.3s;
}
figure.snip0016 h2 span {
font-weight: 800;
}
figure.snip0016 p {
font-weight: 200;
-webkit-transform: translate3d(0%, 30%, 0);
transform: translate3d(0%, 30%, 0);
-webkit-transition-delay: 0s;
transition-delay: 0s;
}
figure.snip0016 a {
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
color: #ffffff;
}
figure.snip0016:hover img {
opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
opacity: 1;
-webkit-transform: translate3d(0%, 0%, 0);
transform: translate3d(0%, 0%, 0);
-webkit-transition-delay: 0.4s;
transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
opacity: 0.9;
-webkit-transform: translate3d(0%, 0%, 0);
transform: translate3d(0%, 0%, 0);
-webkit-transition-delay: 0.6s;
transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
background: rgba(255, 255, 255, 0);
left: 30px;
opacity: 1;
-webkit-transition-delay: 0s;
transition-delay: 0s;
}

.prof_pic {
border: 4px solid #cddc39;
padding: 2px;
border-radius: 50%;
border-top-color: #ff5722;
border-left-color: #ff5722;
width: 125px;
height: 120px;
display: block;
margin-left: auto;
margin-right: auto;
}

.status-div {
  background-color: aliceblue;
  border-radius: 5px;
  width: 60%;
}
  

      .ver-img {
        width: 20px;
      }
      .ver {
        color: limegreen
      }
      .unver {
        color: red;
      }
      
.set-menu {
        display: none;
        position: absolute;
        padding: 12px 16px;
        z-index: 00000;
        margin-top: 30px;
        background-color: #ddd;
        color: black;
        border-radius: 5px;
        font-size: small;
       
      }
    
      .set-menu a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: inherit;
        
      }
    
      .set-div{
          z-index: 10;
          float: right;
      }
    
      .set-but {
          background-color: #4070F4;
          width: 100px;
          float: right;
          border-radius: 10px;
          color: #f0eaea;
          display: flex;
          justify-content: center;
          box-shadow: none;
          border-color: rgb(252, 252, 252);
      }

      .set-but:hover {
        background-color: #2a61f8;
      }
    
      .set-logo {
        width: 20%;
        
      }
      
      .ver-img {
        width: 20px;
      }
      .ver {
        color: limegreen
      }
      .unver {
        color: red;
      }

      .start-button {
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    background-color: #cc2c41;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
}

.mybody {
  background-image: url('/static/images/user_pg_bkg2.jpg');
  color: #f1f1f1;
}

#quiz-section {
  color: #000000;
}

.mySlides{
  height: 100%;
}

.activities {
        display: flex;
    }
.activities > div {
  background-image: url('/static/images/background1.jpg');
  background-size: cover;
  margin-left: 10px;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  font-size: small;
  flex-direction: column;
}

.activities div small {
  display: block;
  text-align: right;
  margin-top: -20px;
  margin-right: 5px;
}

.activities a {
  text-decoration: none;
  color: rgb(216, 221, 228);
}

.activities a4070F4:hover {
  text-decoration: underline;
}


.postspan {
  display: block;
  background-color: rgba(40, 135, 224, 0.5);
  color: #f7f7f7;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}



.postspan:nth-child(even) {
  background-color: rgba(3, 117, 223, 0.5);
}

.quiz-table {
  width: 100%;
  text-align: left;
  font-size: medium;
}

td, th {
  padding: 10px;
  border-bottom: solid blue;
}
</style>
{% endblock %}


  {% block content %}
  <body class="mybody">

    <div class="container">
      <h2>Dashboard</h2>
      <div class="set-div">
        <button class="set-but" onclick="settoggleMenu()"><img class="set-logo" src="{{ url_for('static', filename='images/icons8-settings-50.png') }}" onclick="settoggleMenu()">Settings</button>
        <div id="settingsMenu" class="set-menu">
          {% if verified %}
          <small> Account Status:</small><span class="ver"> Verified </span><img class="ver-img" src="{{ url_for('static', filename='images/checked.png') }}"> </a>
          {% else %}
          <a href="{{ url_for('auth.verification') }}"><small> Account Status:</small><span class="unver">Unverified</span><img class="ver-img" src="{{ url_for('static', filename='images/unchecked.png') }}"></a>
          {% endif %}
          <a href="{{ url_for('auth.change_password') }}"><small>Change Password</small></a>
          <a href="{{ url_for('main.edit_profile') }}">Edit profile</a>
          
        <a href="{{ url_for('auth.logout')}}"><button class="start-button">LogOut</button></a>

        </div>
        </div>
        <img class='prof_pic' src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample41.jpg" alt="sample41"/>

        <section id="user-info-section">
            <div class="user-info">
                <h2>{{ user.first_name }} {{ user.other_names }}</h2>
                <p><strong style="font-size: small;">Email:</strong> {{ user.email }}</p>
                <p><strong style="font-size: small;">Location:</strong> {{ user.location }}</p>
                <p><strong style="font-size: small;">Member since:</strong> {{ user.m_since() }}.</p>
                  <p><strong style="font-size: small;">Last login:</strong> {{ user.l_seen() }}.</p>
            </div>
            <div class="hor-line"></div>
            <div class="user-about-section">
                <h3>About Me</h3>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            </div>
           
        </section>
    
        <br>

        <section id="quiz-section">
            <div>
                
                <div class="quiz-card">
                    <figure class="snip0016">
                        <img  class="mySlides" src="{{url_for('static', filename='images/AIhealthcare.jpeg')}}" alt="sample41"/>
                        <img class="mySlides" src="/static/images/Healthcare.jpeg" alt="sample41"/>
                        <img class="mySlides" src="/static/images/The-Future-of-Healthcare-Technology.jpg" alt="sample41"/>
                        <figcaption>
                            <h2>Unleashing <span>Boundless</span> Discoveries</h2>
                            <p>Where Data Science and Medicine Converge</p>
                          <a href="{{ url_for('main.blog')}}"></a>
                        </figcaption>     
                      </figure>
                    <div class="quiz-info">
                        <h3>Discover the Future of Healthcare</h3>
                        <p>Explore our captivating blog posts that explore the transformative power of data science and technology in revolutionizing medicine and improving patient outcomes.</p>
                        <a href="{{ url_for('main.blog')}}">Read Articles</a>
                    </div> 
                </div>
                <hr>
                <div class="quiz-card">
                    <figure class="snip0016">
                        <img src="/static/images/quiz_bg.jpg" alt="sample41"/>
                        <figcaption>
                            <h2>Discover <span>the Intersection</span> of Tech and Health</h2>
                        </figcaption>     
                      </figure>
                    <div class="quiz-info">
                        <h3>Test Your Knowledge of Tech and Data Science in Healthcare</h3>
                        <p>Dive into our engaging quizzes that cover topics like machine learning, predictive analytics, and precision medicine, showcasing the vital role of data science in shaping the future of healthcare.</p>
                        <a href="{{ url_for('main.user_quiz')}}">Start Quiz</a>
                    </div> 
                </div>
            </div>
            

               
        </section>
        <h2>Activities</h2>
            <div class="activities">
              <div class="postwritten">
                <h2>Post written</h2>
                {% for post in posts_written[:6] %}
                <div class="postspan" >
                <a href="{{ url_for('main.blog_id', id=post.id) }}"><p>{{ post.headline | safe }} </p></a><small>{{ post.blog_timestamp() }}</small>
                <a href="{{ url_for('main.edit_post', id=post.id)}}">Edit Post</a>

                </div>
                {% endfor %}
              </div>
              <div>
                <h2>Recent quiz taken</h2>
                <div class="quiz-taken">
                  <table class="quiz-table">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Score</th>                   
                        </tr>
                      </thead>
                      <tbody >
                        {% for quiz in quizzes_taken %}
                            <tr class="t-body">
                              <td style="text-transform: capitalize;">{{ quiz.quiz_name }}</td>
                              <td>{{ quiz.score }}</td>                       
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
              </div>
              </div>
            </div>
        <a href="{{url_for('auth.logout')}}"><button class="start-button">LogOut</button></a>

    </div>
    
</body>
{% block script %}
    
    {{ super() }}
<script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  
    function settoggleMenu() {
      var menu = document.getElementById("settingsMenu");
      menu.style.display = (menu.style.display === "block") ? "none" : "block";
    }
    
    document.addEventListener("click", function(event) {
    var menu = document.getElementById("settingsMenu");
    var button = document.querySelector(".set-but");

    if (event.target !== menu && event.target !== button) {
      menu.style.display = "none";
    }
  });
  </script>
  {% endblock %}
{% endblock %}
</html>

