{% extends 'main/index.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='user_page.css') }}">
{% endblock %}




<body>
    {% block filler %} <h1 class="user_page">User Dashboard </h1> {% endblock %}
    {% block content %}
    <div class="container">
        <div class="welcome-message">
            <h2>Welcome, {{ first_name }}</h2>
            <p>Here are the quizzes available:</p>
        </div>
        <ul class="quiz-list">
            {% for quiz, link in quizzes.items() %}
            <li>
                <a href="{{ link }}">{{ quiz }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="leaderboard">
            <h2>Leaderboard</h2>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Category</th>                   
                  </tr>
                </thead>
                <tbody>
                  {% for quiz_name, scores in leaderboard.items() %}
                    {% for score, name, other_name in scores %}
                      <tr>
                        <td>{{ name }} {{ other_name }}</td>
                        <td>{{ score }}</td>
                        <td style="text-transform: capitalize;">{{ quiz_name }}</td>                       
                      </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <a href="{{ url_for('auth.logout')}}"><button class="start-button">LogOut</button></a>
    </div>
    {% endblock %}
</body>

</html>